h2 {
  text-align: center;
}

ul {
  display: flex;
  list-style: none;
  background-color: lightgrey;
}

li {
  margin: 10px 15px;
  text-decoration: none;
  font-weight: bold;
}

h1 {
  color: rgb(0, 255, 157);
}