@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap');
*{
  font-family: 'Noto Sans JP';
  background-color: rgb(132, 144, 145);
}
.App{
  text-align: center;
}

input{
  padding: 10px;
  margin: 10px;
  background-color: white;
}

button{
  padding: 10px;
  margin: 10px;
  background-color: rgb(131, 230, 19);
  color: aliceblue;
}